@charset "UTF-8";

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: large;
}

/* Styles for a single image */
.single-image img {
    max-width: 100%;  /* Image takes full width of its container */
    height: auto;     /* Maintains the aspect ratio */
    display: block;   /* Ensures there are no extra spacing issues */
}

/* Styles for the figure container */
.single-image-half {
    display: flex;           /* Enables Flexbox layout */
    flex-direction: column;  /* Stacks items vertically */
    align-items: center;     /* Centers items horizontally */
    width: 100%;             /* Sets the container width to fill its parent */
}

.single-image-half img {
    max-width: 50%;  
    height: auto;    
    display: block;  
}

.single-image-half figcaption {
    text-align: center;      /* Centers the caption text */
    font-size: medium;       /* Sets the font size to medium */
    font-weight: bold;       /* Makes the font bold */
    max-width: 50%;          /* Ensures the caption does not exceed 50% width */
    margin-top: 8px;         /* Adds space between the image and the caption */
    color: #757474;             /* Sets the text color, change as needed */
}


/* Styles for a pair of images */
.image-pair_static {
    display: flex;  /* Aligns images side by side */
    justify-content: space-between; /* Adds space between the images */
    align-items: center; /* Centers images vertically in case they have different heights */
    gap: 10px; /* Adds a gap between the images */
}

.image-pair_static img {
    flex: 1;  /* Allows images to grow and shrink, filling the available space */
    max-width: 50%; /* Each image can take up to half of the container's width minus half the gap */
    height: auto;    /* Ensures the height adjusts to maintain aspect ratio */
}

.image-pair {
    display: flex; /* Aligns items side by side */
    justify-content: space-between; /* Distributes space between items */
    align-items: stretch; /* Stretches items to fill the container vertically */
    gap: 10px; /* Space between the two elements */
    width: 100%; /* Ensures the flex container fits within the parent .container */
}

.image-pair img, .image-pair iframe {
    flex: 1; /* Allows both elements to grow and fill the space */
    width: calc(50% - 5px); /* Adjusts for the gap, ensuring total width does not exceed container */
    height: auto; /* Keeps the aspect ratio intact */
}

.image-pair iframe {
    aspect-ratio: 16 / 9; /* Maintains the aspect ratio of the video */
    height: 100%; /* Ensures height matches the img element */
}

/* Styles for left-aligned small images with text wrap */
.image-left-small {
    float: left;                /* Positions the image to the left */
    width: 32%;                 /* Sets image width to 27% of its container */
    margin-right: 2%;           /* Adds a small margin to the right for spacing between text and image */
    box-sizing: border-box;     /* Ensures the padding and border are included in the width */
}

.image-left-small img {
    width: 100%;                /* Ensures the image fills the entire width of its container */
    height: auto;               /* Maintains the image's aspect ratio */
    display: block;             /* Ensures there are no extra spacing issues */
}


/* Styles for left-aligned small images with text wrap */
.image-link-small {
    float: left;                /* Positions the image to the left */
    width: 4%;                 /* Sets image width to 27% of its container */
    margin-right: 2%;           /* Adds a small margin to the right for spacing between text and image */
    box-sizing: border-box;     /* Ensures the padding and border are included in the width */
}

.image-link-small img {
    width: 100%;                /* Ensures the image fills the entire width of its container */
    height: auto;               /* Maintains the image's aspect ratio */
    display: block;             /* Ensures there are no extra spacing issues */
}


/* Styles for left-aligned medium images with text wrap */
.image-left-medium {
    float: left;                /* Positions the image to the left */
    width: 45%;                 /* Sets image width to 27% of its container */
    margin-right: 2%;           /* Adds a small margin to the right for spacing between text and image */
    box-sizing: border-box;     /* Ensures the padding and border are included in the width */
}

.image-left-medium img {
    width: 100%;                /* Ensures the image fills the entire width of its container */
    height: auto;               /* Maintains the image's aspect ratio */
    display: block;             /* Ensures there are no extra spacing issues */
}


/* Styles for left-aligned small images with text wrap */
.image-right-small {
    float: right;                /* Positions the image to the left */
    width: 32%;                 /* Sets image width to 27% of its container */
    margin-left: 2%;           /* Adds a small margin to the right for spacing between text and image */
    box-sizing: border-box;     /* Ensures the padding and border are included in the width */
}

.image-right-small img {
    width: 100%;                /* Ensures the image fills the entire width of its container */
    height: auto;               /* Maintains the image's aspect ratio */
    display: block;             /* Ensures there are no extra spacing issues */
}


/* Enhanced styles for a trio of images with a single caption */
.image-trio {
    display: flex; /* Aligns items side by side */
    justify-content: space-between; /* Distributes space between items */
    /*align-items: flex-start; /* Aligns items to the top */
	align-items: flex-end; /* Aligns items to the bottom */
    gap: 2px; /* Space between the three elements */
    width: 100%; /* Ensures the flex container fits within the parent .container */
}

.image-trio figure {
    margin: 0; /* Removes default margin from the figure element */
    width: calc(31% - (2*2px/3)); /* Sets the width for the first two figures */
    flex-grow: 1; /* Allows the figure to grow to fill the space */
}

.image-trio figure:last-child {
    width: calc(38% - (2px/3)); /* Sets the width for the last figure */
}

.image-trio img {
    width: 100%; /* Makes the image fill the width of the figure */
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Ensures there are no extra spacing issues */
}

.image-trio-caption {
    text-align: center; /* Centers the caption text */
    font-size: smaller; /* Sets a smaller font size for captions */
    color: #757474; /* Sets the caption text color */
    margin-top: 8px; /* Adds space between the images and the caption */
    width: 100%; /* Ensures the caption spans the entire width of the container */
}

.doi-link {
    white-space: nowrap;
}

/* PDF graphic */
.flex-container {
    display: flex;
    align-items: center;
}

.flex-container a {
    flex-basis: 15%;
    max-width: 20%;
}

.flex-container p {
    margin-left: 20px ;
}

a {
    display: block;
    margin-bottom: 15px; /* Adds a 10px gap below each link */
}

a:last-child {
    margin-bottom: 0; /* Removes the margin from the last link */
}


/* Clean up empty media queries if not used */
@media screen {
    /* Add styles here if needed */
}
